.header__lang-link {
  font-family: 'Inter',
    'Segoe UI',
    'Roboto',
    'Helvetica',
    'San Francisco',
    'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1;
  color: #fff;
  margin: 0 0 0 1.125rem;
  text-decoration-line: none;
}

.header__lang-link::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 1.375rem;
  height: 0.094rem;
}

.header__lang-link:last-child::after {
  content: "";
  display: none;
  background-color: #fff;
  width: 1.375rem;
  height: 0.094rem;
}


@media (min-width: 768px) {
  .header__lang-link {
    font-size: 1.5rem;
    line-height: 1.16661;
  }

  .header__lang-link::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 1.875rem;
    height: 0.125rem;
  }
}
