.photo-grid {
  box-sizing: border-box;
  display: grid;
  gap: .75rem;
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    padding: 0 3rem;
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(17.75rem, 1fr));
    max-width: 1184px;
    padding: 0;
  }
}
