.lead {
  font-family: 'Inter',
    'Segoe UI',
    'Roboto',
    'Helvetica',
    'San Francisco',
    'sans-serif';
  color: #fff;
}

@media (min-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}
