.cover__overlay {
  display: grid;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  row-gap: 1rem;
  min-height: 62.5vw;
  max-height: 30rem;
  width: 100%;
  z-index: 2;
  background-color: rgb(42, 44, 47, 0.3);
  transition: 0.5s;
}

.cover__overlay:hover {
  background-color: rgb(42, 44, 47, 0.8);
}

@media (min-width: 768px) {
  .cover__overlay {
    row-gap: 2rem;
  }
}
