.cover__title {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.09;
  text-align: center;
  margin: 0 auto;
  padding: 0 1.1rem;
  align-self: flex-end;
  max-width: 18rem;
}

@media (min-width: 768px) {
  .cover__title {
    max-width: 35rem;
    font-size: 4.5rem;
    line-height: 1.0555;
  }
}
