.place {
  display: grid;
  margin-bottom: 3rem;
  font-family: 'Inter',
    'Segoe UI',
    'Roboto',
    'Helvetica',
    'San Francisco',
    'sans-serif';
  color: #fff;
}

.place:last-child {
  margin: 0;
}

@media (min-width: 768px) {
  .place {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 1.75rem;
    margin-bottom: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .place {
    column-gap: 2rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 1280px) {
  .place {
    column-gap: 2.5rem;
  }
}
