.footer {
  font-family: 'Inter',
    'Segoe UI',
    'Roboto',
    'Helvetica',
    'San Francisco',
    'sans-serif';
  color: #fff;
  justify-self: start;
  max-width: 1184px;
}

@media (min-width: 768px) {
  .footer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-self: center;
  }
}
